@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
scroll-behavior:smooth;


}
@font-face{
font-family:'kalpurush';
src:url("/kalpurush.ttf");

}


body {
font-family:'kalpurush',times;
}
